.str {
    color: rgb(108, 108, 255);
}

.bool {
    color: rgb(212, 72, 250);
}

.num {
    color: rgb(20, 136, 34);
}

.comment, .comment * {
    color: grey !important;
}

.unfilled {
    border-color: red;
    border-width: 3px;
}

.header {
    color: black;
}

.error {
    color: red;
}

.option-data-input {
    width: 20%;
}

.option-label-input {
    width: 25%;
}

.dragover {
    border-color: blue;
}

.option-hover-input {
    width: 35%;
}

.btn-primary-2 {
    background-color: #69a0f3;
    border-width: 1px;
    border-color: #69a0f3;
    color: white;
}

.btn-primary-2:hover {
    border-color: dodgerblue;
    background-color: #2877ee;
    color: white;
}

.btn-danger-2 {
    background-color: rgb(255, 134, 134);
    color: white;
}

.btn-danger-2:hover {
    color: white;
    background-color: red;
}

.option-delete, .option-duplicate {
    align-self: flex-end;
}

code {
    line-height: 1.8;
    color: rgb(194, 194, 194);
}

body {
    background-color: #62678f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend { 
    float: none; 
    padding: inherit; 
    width: auto;
}

fieldset {
    /* filter: grayscale(10%);
    filter: saturate(115%); */
    border: 1px solid rgba(255, 255, 255, 0.488);
    filter: sepia(3%);
    background-color: #62678f;
    border-radius: 5px;
}

#forumthread-link {
    color: blue;
}

#forumthread-link:hover {
    color: rgb(58, 58, 245);
}

label {
    display: unset;
}

.add-option {
    transform: scale(0.9);
}

.add-option-select {
    transform: scale(0.9);
    width: 200px; 
    display: inline;
}

.remove-config {
    transform: scale(0.8);
    margin-left: 20%;
}

.configuration input {
    height: 30px;
}

.increment-settings-option-text {
    background-color: #c9e8f4;
}

#main {
    margin-bottom: 10%;
}