:root {
    --bg-color: #a8acd2;
}

.str {
    color: rgb(108, 108, 255);
}

.bool {
    color: rgb(212, 72, 250);
}

.num {
    color: rgb(20, 136, 34);
}

.comment, .comment * {
    color: grey !important;
}

.unfilled {
    border-color: red !important;
    border-width: 2px;
}

#code {
    position: relative;
    max-height: auto;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
}

.header {
    color: black;
}

.error {
    color: red;
}

/*
.option-data-input {
    max-width: 30%;
}
.option-label-input {
    max-width: 40%;
}

.option-hover-input {
    max-width: 70%;
}
*/

.dragover {
    border-color: blue;
}

.option-radio-input {
    min-width: 15px;
    transform: translateY(-5px)
}

.btn-primary-2 {
    background-color: #69a0f3;
    border-width: 1px;
    border-color: #69a0f3;
    color: white;
}

.btn-primary-2:hover {
    border-color: dodgerblue;
    background-color: #2877ee;
    color: white;
}

.btn-danger-2 {
    background-color: rgb(255, 134, 134);
    color: white;
}

.btn-danger-2:hover {
    color: white;
    background-color: red;
}

.option-delete, .option-duplicate {
    align-self: flex-end;
}

code {
    line-height: 1.8;
    color: rgb(194, 194, 194);
}



body {
    background-color: #b0b3d0;
    font-family: Geneva Tahoma sans-serif !important;
}

legend { 
    float: none; 
    padding: inherit; 
    width: auto;
}

.smart-input {
    width: 75%;
    height: 30px;
    border-radius: 0px;
    /* background-color: rgb(233, 233, 233); */
}

.add-smart-input {
    color: dimgray;
    width: 75%;
    border-bottom-color: var(--bg-color);
}

.smart-input-delete-button {
    height: 30px;
    border-radius: 0px;
}

#code-input {
    line-height: 20px;
}

fieldset {
    /* filter: grayscale(10%);
    filter: saturate(115%); */
    border: 1px solid rgba(255, 255, 255, 0.488);
    filter: sepia(3%);
    background-color: var(--bg-color);
    border-radius: 5px;
}

#forumthread-link {
    color: blue;
}

a {
    color: blue;
}

#footer {
    border-radius: 15px;
    border-width: 1px;
    border-style: dotted;
    border-color: white;
    filter: contrast(200%);
}

#forumthread-link:hover {
    color: rgb(58, 58, 245);
}

label {
    display: unset;
}

.add-option {
    transform: scale(0.9);
}

.add-option-select {
    /* transform: scale(0.9); */
    border-style: hidden;
    width: 200px; 
    max-width: var(width);
    display: inline;
    font-weight: 400;
}

.remove-config {
    transform: scale(0.8);
}

#duplicate-config {
    width: fit-content;
    font-size: smaller;
}

.configuration input {
    height: 30px;
}

.increment-settings-option-text {
    background-color: var(--bs-light)
}

#main {
    margin-bottom: 10%;
}

.completion {
    background-color: white;
    border: 2px solid #9a9a9a;
    border-top: 0;
    position: absolute;
    width: 100%;
    min-width: fit-content;
    z-index: 300;
}

.completion .dropdown-item {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

.completion .dropdown-item:hover {
    background-color: transparent;
}

.focused-completion {
    background-color: #e9ecef !important;
}

#code-div {
    max-height: 800px;
    border-radius: .25rem;
}

@font-face {
  font-family: 'dstemoji';
  src: url('fonts/dstemojis.woff?ef4cfx') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dst-emojis {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dstemoji' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abigail:before { content: "󰀜"; }
.icon-alchemy:before { content: "󰀝"; }
.icon-arcane:before { content: "󰀀"; }
.icon-backpack:before { content: "󰀞"; }
.icon-battle:before { content: "󰀘"; }
.icon-beefalo:before { content: "󰀁"; }
.icon-beehive:before { content: "󰀟"; }
.icon-berry:before { content: "󰀠"; }
.icon-carrot:before { content: "󰀡"; }
.icon-chest:before { content: "󰀂"; }
.icon-chester:before { content: "󰀃"; }
.icon-crockpot:before { content: "󰀄"; }
.icon-egg:before { content: "󰀢"; }
.icon-eyeball:before { content: "󰀅"; }
.icon-eyeplant:before { content: "󰀣"; }
.icon-faketeeth:before { content: "󰀆"; }
.icon-farm:before { content: "󰀇"; }
.icon-fire:before { content: "󰀈"; }
.icon-firepit:before { content: "󰀤"; }
.icon-flex:before { content: "󰀙"; }
.icon-ghost:before { content: "󰀉"; }
.icon-gold:before { content: "󰀚"; }
.icon-grave:before { content: "󰀊"; }
.icon-hambat:before { content: "󰀋"; }
.icon-hammer:before { content: "󰀌"; }
.icon-heart:before { content: "󰀍"; }
.icon-horn:before { content: "󰀥"; }
.icon-hunger:before { content: "󰀎"; }
.icon-lightbulb:before { content: "󰀏"; }
.icon-meat:before { content: "󰀦"; }
.icon-pig:before { content: "󰀐"; }
.icon-poop:before { content: "󰀑"; }
.icon-redgem:before { content: "󰀒"; }
.icon-refine:before { content: "󰀧"; }
.icon-salt:before { content: "󰀨"; }
.icon-sanity:before { content: "󰀓"; }
.icon-sciencemachine:before { content: "󰀔"; }
.icon-shadow:before { content: "󰀩"; }
.icon-shovel:before { content: "󰀪"; }
.icon-skull:before { content: "󰀕"; }
.icon-thumbsup:before { content: "󰀫"; }
.icon-tophat:before { content: "󰀖"; }
.icon-torch:before { content: "󰀛"; }
.icon-trap:before { content: "󰀬"; }
.icon-trophy:before { content: "󰀭"; }
.icon-wave:before { content: "󰀮"; }
.icon-web:before { content: "󰀗"; }
.icon-wormhole:before { content: "󰀯"; }
